In [103]:
# Import all libraries needed for the tutorial

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

In [104]:
#filename = 'small.csv'
filename = 'small.csv'
df = pd.read_csv(filename, index_col=False, dtype=object)

In [105]:
df.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
0,C00458844,P60006723,"Rubio, Marco","BLUM, MAUREEN",WASHINGTON,20,DC,STRATEGIC COALITIONS & INITIATIVES LL,OUTREACH DIRECTOR,175,15-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1152124,P2016
1,C00458844,P60006723,"Rubio, Marco","DODSON, MARK B. MR.",ATLANTA,30,GA,MORTGAGE CAPITAL ADVISORS,PRIVATE MORTGAGE BANKING,25,16-MAR-16,NaN,NaN,DEBT RETIREMENT,SA17A,1066300,SA17.1153048,P2016
2,C00458844,P60006723,"Rubio, Marco","RUCINSKI, ROBERT",APO,AE,090960009,US ARMY,PHYSICIAN,100,08-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1074981,P2016
3,C00458844,P60006723,"Rubio, Marco","DOHERTY, THERESA",APO,AE,097520002,DODEA/DS,TEACHER,500,26-JUN-15,NaN,NaN,NaN,SA17A,1029436,SA17.769700,P2016
4,C00458844,P60006723,"Rubio, Marco","MARQUEZ, PANFILO",DPO,AE,097770241,DEPARTMENT OF STATE,FOREIGN SERVICE OFFICER,100,07-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1074238,P2016

In [107]:
name_zip_empl = df[['contbr_nm', 'contbr_zip', 'contbr_employer']]
name_zip_empl.head()

             contbr_nm contbr_zip                        contbr_employer
0        BLUM, MAUREEN         DC  STRATEGIC COALITIONS & INITIATIVES LL
1  DODSON, MARK B. MR.         GA              MORTGAGE CAPITAL ADVISORS
2     RUCINSKI, ROBERT  090960009                                US ARMY
3     DOHERTY, THERESA  097520002                               DODEA/DS
4     MARQUEZ, PANFILO  097770241                    DEPARTMENT OF STATE

In [108]:
select  = df.apply(lambda r : r['contbr_zip'].isnull(), axis=1)
name_zip_empl[select]

AttributeError: ("'str' object has no attribute 'isnull'", u'occurred at index 0')

In [100]:
name_zip_empl['contbr_zip'].fillna(r'00000', inplace=True)

In [101]:
name_zip_empl.iloc[[105693]]

              contbr_nm contbr_zip contbr_employer
105693  ZALESKI, HENRYK      00000         RETIRED

In [102]:
select  = df.apply(lambda r : isinstance(r['contbr_zip'], float), axis=1)

name_zip_empl_digit_zip = name_zip_empl[select]                                                                                                                           
name_zip_empl_digit_zip.head()

              contbr_nm contbr_zip contbr_employer
105693  ZALESKI, HENRYK      00000         RETIRED

In [92]:
select  = df.apply(lambda r : r['contbr_zip'].isdigit(), axis=1)

name_zip_empl_digit_zip = name_zip_empl[select]                                                                                                                           
name_zip_empl_digit_zip.head()

AttributeError: ("'float' object has no attribute 'isdigit'", u'occurred at index 105693')